# Tabular data analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/advertising.csv')

In [3]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [7]:
max_value_15 = df['Sales'].max()
max_index_15 = df['Sales'].idxmax()

max_value, max_index

(27.0, 175)

In [12]:
avg_tv_col = df['TV'].mean()
avg_tv_col

147.0425

In [14]:
count_sale_col_20 = df['Sales'][df['Sales'] >= 20].count()
count_sale_col_20

40

In [16]:
avg_radio_sale_15 = df['Radio'][df['Sales'] >= 15].mean()
avg_radio_sale_15

26.22293577981651

In [23]:
total_sales_where_newspaper_above_avg = df[df['Newspaper'] > df['Newspaper'].mean()]['Sales'].sum()
total_sales_where_newspaper_above_avg

1405.1

In [24]:
# Calculate the mean of the 'Sales' column
A = df['Sales'].mean()

# Create a new list 'scores' with 'Good', 'Average', 'Bad' based on the condition
scores = ['Good' if x > A else 'Average' if x == A else 'Bad' for x in df['Sales']]

# Print the elements from index 7 to 9 (inclusive) of the 'scores' list
print(scores[7:10])

['Bad', 'Bad', 'Good']

In [25]:
# Calculate the mean of the 'Sales' column
mean_sales = df['Sales'].mean()

# Find the value in 'Sales' closest to the mean
closest_to_mean = df.iloc[(df['Sales'] - mean_sales).abs().argsort()[:1]]

# Get the Sales value closest to the mean
A = closest_to_mean['Sales'].values[0]

# Create a new list 'scores' with 'Good', 'Average', 'Bad' based on the condition
scores = ['Good' if x > A else 'Average' if x == A else 'Bad' for x in df['Sales']]

# Print the elements from index 7 to 9 (inclusive) of the 'scores' list
print(scores[7:10])

['Bad', 'Bad', 'Good']